/* body start from boutique Landing images it is not working */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.Bboutique{
   margin-top: 200px !important;
   margin-bottom: 200px !important;

}
.Bboutique h2{
    text-align: center;
    color: rgb(185, 81, 7);
    font-style: italic;
    font-weight: 800;
}
.Blandingboutiqe h1{
   text-align: center; 
    margin-left: 150px;
    margin-bottom: 80px !important;
}
#landingBoutique_body{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#landingsidebar1{
    text-align: left;
    word-spacing: 30px;

}
#landingsidebar2{
    text-align: left;
    padding-top: 90px;
    word-spacing: 30px;
}

.Blandingsize_area{
    word-spacing: 65px;
}
.Blandingsection_images{
   display: flex;
   justify-content: space-between !important;
   padding-right: 220px !important;
   
}

.Bdisplay_img{
    padding-right: 15px;
    padding-left: 50px !important;
}

/* body end from boutique Landing Images *//* body start from boutique Landing images it is not working */
#landingboutiqe{
    text-align: center;
    padding: 100px;
}
#landingBoutique_body{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.BSlandingsidebar1{
    text-align: left;
    word-spacing: 30px;

}
#landingsidebar2{
    text-align: left;
    padding-top: 90px;
    word-spacing: 30px;
}

.Blandingsize_area{
    word-spacing: 65px;
}
.Blandingsection_images{
   display: flex;
   justify-content: space-between;

    /* height: 200px;
    width: 200px;
    margin: 10px !important;
    border: 6px solid #21130d; */

}

.Bdisplay_img{
    padding-left: 15px;
    padding-right: 15px;
}

/* body end from boutique Landing Images */

/*********************************************/
/************* responsive ****************/
/*********************************************/

@media screen and (min-width: 960px) and (max-width: 1200px) {
    .Bboutique {
        display: grid;
        justify-content: center;
    }
    h2.Blandingboutiqe {
      font-size: 2.2em;
      padding: 15px 70px 15px 15px;
    }
    #landingsidebar{
        font-size: 1.2em;
        padding-bottom: 500px;
        margin-bottom: 500px !important;
        text-align: center;
    }
    /* h3 {
      padding: 10px 10px 10px 70px;
      position: absolute;
      bottom: 120px;
      font-size: 1.2em;
    } */
  }
  
  /* @media screen and (min-width: 768px) and (max-width: 959px) {

  } */