//@import "../../../Components/common/style.module.scss";
.productShowcase {
  border: 1px solid rgb(181, 179, 179) !important;
  margin: auto;
  display: grid !important;
  grid-template-columns: repeat(5, 1fr) !important;
  height: 700px;
  overflow: scroll;
  gap: 25px;
  padding: 10px !important;
}
